.btn {
  font-size: 15px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  outline: #fff;
  padding: 8px 16px;
  border-radius: 4px;

  color: #ca96fd;
  &:hover {
    color: #a44bfc;
    cursor: pointer;
  }
}
