@use '../../sass/utils/colors' as c;

.btn {
  font-size: 15px;
  border: 1px solid c.$colorBtnBorder;
  background-color: c.$colorWhite;
  outline: c.$colorWhite;
  padding: 8px 16px;
  border-radius: 4px;
  color: c.$colorVioletBright;

  &:hover {
    color: c.$colorHover;
    cursor: pointer;
  }
}
