@import '../../../sass/mixins/mediaQueries.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  @include small {
    margin: 20px;
  }
}
.opener {
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s;
  }
  &:hover::after {
    width: 100%;
  }
}

.text {
  font-size: 22px;
}

.contactWrapper {
  display: flex;
  justify-content: space-between;
}
.smallText {
  color: dimgray;
}
.mail {
  margin-top: 8px;
}

.iconsWrapper {
  margin-top: 8px;

  svg {
    padding-right: 8px;
    color: #000;
  }
}
