$colorWhite: #ffffff;
$colorBlack: #000000;
$colorVioletBright: #ca96fd;
$colorHover: #a44bfc;

$colorBtnBorder: #e7e7e7;

$colorGreyRegular: #ccc;
$colorGreyDarker: #696969;

$colorYellowBright: #fcfc97;
$colorYellowBg: #fefec8;
