@import '../../sass/mixins/mediaQueries.scss';

.hero_wrapper {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 300px;
  @include medium {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
  }
}

.intro_wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;

  @include medium {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include small {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.col1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.col2 {
  width: 20%;
  img {
    box-shadow: -50px -50px 0 -40px #fcfc97, 50px 50px 0 -40px #fcfc97;
    width: 100%;
  }

  @include medium {
    width: 50%;
  }
}

// 	#ca96fd

.name {
  font-size: 70px;
  margin-bottom: 16px;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ca96fd;
    transition: width 0.3s;
  }
  &:hover::after {
    width: 100%;
  }

  @include small {
    text-align: center;
    font-size: 40px;
  }
}

.intro {
  align-self: flex-end;
  margin-top: 16px;
  font-size: 35px;
  @include medium {
    align-self: flex-start;
  }
  @include small {
    font-size: 20px;
    margin-top: 0;
    align-self: center;
    text-align: center;
  }
}

.contact_wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: space-evenly;
}

.contact_icons {
  display: flex;

  a {
    padding-right: 16px;
    text-decoration: none;
    color: black;
  }
}
