.about_container {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about {
  max-width: 450px;
  text-align: justify;

  span {
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.skills {
}

.main_skills {
  display: flex;
  gap: 10px;
}

.skill_container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 8px;
  img {
    width: 50px;
  }
  span {
    font-weight: 500;
  }
}

.other_skills_wrapper {
  display: flex;
  gap: 8px;
}

.additional_skills {
}
