@import '../../../sass/mixins/mediaQueries.scss';

.container {
  background-color: #fefec8;
  // border: 1px dashed black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  margin: 12px;
  h3 {
    font-size: 24px;
  }

  img {
    width: 100%;
  }

  @include small {
    width: 100%;
  }

  @include medium {
    width: 100%;
  }
}
.btn_container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
