@import '../../sass/mixins/mediaQueries.scss';

.contact_form {
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 350px;
  border: 1px solid black;
  background-color: black;

  @include small {
    width: 100%;
  }

  @include medium {
    width: 100%;
  }
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px;

  input,
  textarea {
    color: white;
    line-height: 2;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: inherit;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
  }
}

.details_wrapper {
  display: flex;
  flex-direction: column;
}

.btn_wrapper {
  align-self: center;
}
