@use '../../../sass/utils/colors' as c;

.slidingMenu {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  height: 0;
  background-color: c.$colorWhite;
  transition: height 0.3s ease-in-out;
  overflow: hidden;

  .menuNav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    height: 100%;
    list-style-type: none;

    li {
      padding: 8px 0;

      a {
        color: inherit;
        font-size: 24px;
        text-decoration: none;

        &:hover {
          color: c.$colorHover;
        }
      }
    }
  }
}

.slidingMenu.active {
  height: 200px;
  border-bottom: 1px solid c.$colorBlack;
}

.iconWrapper {
  display: grid;
  place-items: center;
  width: 18px;
  height: 32px;
  cursor: pointer;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .iconWrapper {
    display: none;
  }
}
